@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

header,
footer {
    display: none;
}

*, *::before, *::after {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg,#7E9680,#AE6378) ; */
    background-color: #B8D9D0
}
input{
    font-family: "Poppins", sans-serif;
}
.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background:#fff;/*edit here*/
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size:25px;
    font-weight:500 ;
    position: relative; /*edit here*/
    top: 20px; /*old: ko co top*/
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 40px;/*edit here* old: bottom:0*/
    height: 3px;
    width: 80px;
    background: linear-gradient(135deg, #CD7672,#534666) ;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.request_heading{
    display: flex;
    justify-content: flex-start;
}
.request_heading img{
    width: 70px;
    margin-right:0.8rem;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width:calc(100% / 2 - 20px) ;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:3px ;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9e6b55;
}


form .button{
    height: 45px;
    margin: 15px 0 ;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    letter-spacing: 2px;
    background: linear-gradient(135deg,#7E9680
    ,#AE6378) ;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    
}
form .button input:hover{
    background:linear-gradient(-135deg,#7E9680,#AE6378) ;
}

/* edit here */
.input-box .error{
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size:13px ;
    display: none;
}
.invalid input{
    border-color:#d93025 ;
}
.invalid .error{
    display: flex;
}
.error img{
    margin-right: 6px;
    width: 18px;
}

.back-region {
    margin: 0 0 6px;
}

.back-region .back-link {
    display: flex;
    justify-content: center;
}
/* edit here */

/* validation */

@media(max-width: 584px) {
    .container{
        max-width: 100%;
    }
    /* add new here */
    .container .title::before{
        display: none;
    }
    .container .title{
        top:0;
    }
    /* end add */
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}