@model Bird

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Bird Profile</h2>
            <hr />
        </div>
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.UserId" />
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Species"></label>
            <input asp-for="Species" class="form-control" />
            <span asp-validation-for="Species" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProfilePicture"></label>
            <input type="file" id="profile-picture" name="profilePicture" accept="image/*" />
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Update" />
        </div>
    </div>
</form>

<a asp-asp-controller="Bird" asp-action="Index" class="btn btn-secondary" style="width:150px">
    Back to List
</a>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

