@model Bird

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
    <link rel="stylesheet" href="~/css/birds/create-edit.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Edit bird</h2>
        <form asp-action="Edit" class="form" enctype="multipart/form-data" onsubmit="return checkName()">

            <div class="input-box name-field">
                <label>Name</label>
                <input asp-for="Name" placeholder="Enter bird name" required class="name" />
                <!-- add error message here -->
                <span class="error name-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Bird name cannot be empty.</p>
                </span>
            </div>

            <div class="input-box species-field">
                <label>Species</label>
                <input name="Species" value="@Model.Species" placeholder="Enter species" class="species" />
            </div>

            <div class="input-box address-field">
                <label>Short description</label>
                <input name="Description" value="@Model.Description" placeholder="Enter a short description" class="description" />
            </div>

            <div class="input-box pfp-file-field">
                <label>Profile picture</label>
                <div class="upload-button-container">
                    <label for="profile-picture" class="upload-button">Choose a file</label>
                </div>
                <input type="file" id="profile-picture" name="profilePicture" accept="image/*" onchange="loadFile(event)" required />
                <img id="preview-pfp" src="@Url.Action("GetImageFromBytes", "Birds", new { id = Model.Id })" />
            </div>

            <input class="button" type="submit" value="Save" />
        </form>
        <div class="back-region">
            <a asp-action="Index" class="back-link">Back</a>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/birds/create-edit.js"></script>
}

