@model IEnumerable<Bird>

@{
    ViewData["Title"] = "Your Birds";
}

@section Styles {
    <link rel="stylesheet" href="~/css/birds/index.css" />
}

<div class="container-bird">
    <div class="container-bird-info">
        <h2>Your birds</h2>
        <a asp-action="Create" class="btn bird-add-btn">Add Bird</a>
    </div>
</div>

<hr style="border: 1px solid #9e6b55;">

<section class="bird-main">
    @foreach (var item in Model)
    {
        <div class="wrap">
            <div class="item">
                <p>@item.Name</p>
                <a style ="text-decoration: none;color: #000;" href="" class="bird-link">
                    <img src="@Url.Action("GetImageFromBytes", "Birds", new { id = item.Id })" alt="">
                </a>
                <div class="bird-actions">
                    <a class="bird-btn edit-btn" asp-action="Edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="bird-btn achievements-btn">
                        <i class="fa-solid fa-trophy"></i>
                    </a>
                    <a class="bird-btn delete-btn" onclick="initDelete(@item.Id)">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    <script src="~/js/birds/index.js"></script>
}
