@model CommentDTO

<div class="create-comment-container">
    <hr />
    <h2 class="create-comment-title">Write a Comment</h2>

    <form class="create-comment-form" asp-controller="Blogs" asp-action="AddComment" method="post">
        <input type="hidden" asp-for="User.Id" />
        <input type="hidden" asp-for="Blog.Id" />

        <textarea
            class="create-comment-box"
            rows="5" asp-for="Contents"
            placeholder="Add your comment..."
            required></textarea>

        <input class="create-comment-button" type="submit" value="Comment" />
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
