@model CommentDTO

<form class="edit-comment-container" data-comment-edit-id="@Model.Id" asp-controller="Blogs" asp-action="EditComment" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="User.Id" />
    <input type="hidden" asp-for="Blog.Id" />
    <textarea class="edit-comment-box" asp-for="Contents" rows="5">@Model.Contents</textarea>

    <div class="edit-control-container">
        <input class="accept-button" type="submit" value="Edit" />
        <button class="cancel-button" type="button" onclick="cancelEdit(@Model.Id)">Cancel</button>
    </div>
</form>