@model BlogDTO

@section Styles
{
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/blog/create.css" />
}

@{
    ViewData["Title"] = "Create";
}

<section class="create-blog-container">
    <a class="create-blog-back-button" asp-action="Index">Back to List</a>

    <form class="create-blog-form" asp-controller="Blogs" asp-action="Create" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="User.Id" />

        <h2>Create Blog</h2>

        <div class="input-container">
            <label class="input-label" for="blog-category">Blog Category</label>
            <select id="blog-category" class="input" asp-for="BlogCategory.Id" asp-items="ViewBag.CategoryOptions">
                <option value="7" hidden>Choose a category</option>
            </select>
        </div>

        <div class="input-container">
            <label class="input-label" for="blog-title">Blog Title</label>
            <input id="blog-title" class="input" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label for="blog-contents" class="input-label blog-content-label">Blog Contents</label>
            <textarea id="blog-contents" name="Contents"></textarea>
        </div>

        <div class="input-container">
            <p class="input-label">Thumbnail</p>
            <div class="blog-thumbnail-container">
                <label for="blog-thumbnail" class="input-label thumbnail-submit-button">Choose a thumbnail</label>
                <input id="blog-thumbnail" class="input" type="file" name="thumbnailFile" accept="image/*" onchange="loadFile(event)" />
            </div>
            <img id="preview-thumbnail" />
        </div>

        <input class="create-blog-create-button" type="submit" value="Create" />
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_Summernote", new { Height = 500, Selector = "#blog-contents" });
    }
    <script src="~/js/blog/create.js"></script>
}
