<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BirdClubManagementSystem</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    <script src="~/js/site.js" defer asp-append-version="true"></script>
</head>

@{
    var userId = Context.Session.GetInt32("USER_ID");
}

<body>
    <header>
        <nav>
            <div class="nav-logo-container">
                <div class="logo-img-container">
                    <img src="~/img/nav/club_logo.svg" alt="logo" />
                </div>
                <h1 class="club-title">VNCMBC</h1>
            </div>

            <div class="nav-bar-container">
                <a asp-controller="Home" asp-action="Index" class="nav-link active" >Home</a>
                <a asp-controller="Home" asp-action="About" class="nav-link">About</a>
                <a asp-controller="Blogs" asp-action="Index" class="nav-link">Blogs</a>
                <a asp-controller="ClubEvents" asp-action="Index" class="nav-link">Events</a>
                <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
            </div>

            <div class="nav-user-utils-container">
                @if (userId != null)
                {
                    <a asp-controller="Logout" asp-action="Index" class="action-link">Log Out</a>
                    <a asp-controller="Profile" asp-action="Index" class="ava-container">
                        <img src="@Url.Action("GetImageFromBytes", "Profile", new { id = userId })" alt="avatar" />
                    </a>
                }
                else
                {
                    <a asp-controller="Login" asp-action="Index" class="action-link">Log In</a>
                    <div class="ava-container">
                        <img src="~/img/nav/ava_placeholder.jpg" alt="avatar" />
                    </div>
                }
            </div>

            <div class="nav-toggle">
                <p>V</p>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="footer-body">
            <div class="footer-logo-container">
                <div class="footer-logo-img-container">
                    <img src="~/img/footer/logo.svg" alt="logo" />
                </div>
                <h1>VNCMBC</h1>
            </div>

            <div class="footer-link-container">
                <h2>Club</h2>
                <div class="footer-link-box">
                    <a class="footer-link">About</a>
                    <a class="footer-link">Events</a>
                    <a class="footer-link">Blogs</a>
                </div>
            </div>

            <div class="footer-link-container">
                <h2>Services</h2>
                <div class="footer-link-box">
                    <a class="footer-link">Community</a>
                    <a class="footer-link">Tournaments</a>
                    <a class="footer-link">Pricing</a>
                </div>
            </div>

            <div class="footer-link-container">
                <h2>Contact</h2>
                <div class="footer-link-box">
                    <a class="footer-link">Help desk</a>
                    <a class="footer-link">Chat</a>
                    <a class="footer-link">Forum</a>
                </div>
            </div>

            <div class="footer-link-container">
                <h2>Payment</h2>
                <div class="footer-link-box">
                    <a class="footer-link">
                        <img src="~/img/footer/vnpay_logo.png" alt="vn pay logo" />
                    </a>
                </div>
            </div>

            <div class="footer-feedback-container">
                <h2>Feedbacks</h2>
                <p>Give us your feedback about our club. Thanks for your visiting today.</p>
                <form class="feedback-container">
                    <input type="text" placeholder="Enter your feedback" required />
                    <input type="submit" value="SUBMIT" />
                </form>
                <p>Your feedbacks will help us develop our club and extend community for everyone.</p>
            </div>
        </div>

        <div class="footer-line"></div>

        <div class="footer-tail">
            <p>&copy; 2023 Vietnam Bird Club. All Rights Reserved. Terms &amp; Conditions. Privacy Policy.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
