body {
    background-color: #F7F5F1;
}

.event-section {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.event-body {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 1rem #0007003a;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.event-description *:not(img) {
    width: 100% !important;
}

.event-body > *:nth-child(n + 2) {
    margin-top: 2rem;
}

.event-detail-header-links,
.event-detail-edit-highlights,
.event-detail-status-links {
    display: flex;
    margin: 0.5rem 0;
}

.button {
    margin: 0.2rem 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
}

.button:hover {
    opacity: 0.6;
}

.back-button,
.edit-button,
.edit-highlights-button,
.participants-list-button {
    background-color: #4F77FF;
    color: #fff;
}

.delete-button,
.status-button {
    background-color: #f00;
    color: #fff;
}

.rankings-button {
    background-color: #FFD700;
    color: #fff;
}

.cancel-button {
    background-color: #0000;
    color: #4F77FF;
}

.event-title,
.event-date,
.event-entrance-container,
.event-description-container {
    width: 100%;
}

.event-title {
    text-align: center;
}

.event-date {
    text-align: right;
}

.event-description-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.event-description {
    margin-top: 1rem;
    width: 100%;
}

.event-description > * {
    max-width: 100% !important;
}

.event-entrance-container {
    /*display: flex;*/
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.delete-event-container,
.close-registration-container,
.end-event-container,
.cancel-event-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000077;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.delete-event-form,
.close-registration-form,
.end-event-form,
.cancel-event-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.delete-event-control,
.close-registration-control,
.end-event-control,
.cancel-event-control {
    margin-top: 2rem;
    width: 100%;
}

.delete-event-control .button,
.close-registration-control .button,
.end-event-control .button,
.cancel-event-control .button {
    width: 100%;
}

.event-registration-date {
    align-self: flex-start;
}


@media screen and (max-width: 1200px) {
    .event-section {
        width: 100%;
    }
    .event-body {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .event-detail-header-links {
        flex-flow: column nowrap;
    }

    .event-detail-header-links > *:nth-child(n + 2) {
        margin-top: 1rem;
    }

    .event-detail-status-links {
        flex-flow: column nowrap;
    }

    .event-detail-status-links > * {
        margin-top: 1rem;
    }
}