.event-section {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.event-body {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.2rem #0007003a;
    padding: 1rem;
}

.event-body > *:nth-child(n + 2) {
    margin-top: 2rem;
}

.event-detail-header-links,
.event-detail-edit-highlights,
.event-detail-status-links {
    display: flex;
    margin: 0.5rem 0;
}

.back-button,
.edit-button,
.delete-button,
.edit-highlights-button,
.status-button,
.participants-list-button,
.rankings-button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.back-button,
.edit-button,
.edit-highlights-button,
.participants-list-button {
    background-color: #4F77FF;
    color: #fff;
}

.delete-button,
.status-button {
    background-color: #f00;
    color: #fff;
}

.rankings-button {
    background-color: #ffd700;
    color: #fff;
}

.event-title,
.event-date,
.event-entrance-container,
.event-description-container {
    width: 100%;
}

.event-title {
    text-align: center;
}

.event-date {
    text-align: right;
}

.event-description-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.event-description {
    margin-top: 1rem;
}

.event-entrance-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}