@model IClubEvent

@section Styles
{
    <link rel="stylesheet" href="~/css/event/detail.css" />
}

@{
    ViewData["Title"] = "Details";
}

@await Html.PartialAsync("~/Views/ClubEvents/_EventDetail.cshtml", Model)

<div>
    <a class="button participants-list-button" asp-action="Index" asp-controller="MeetingRegistrations" asp-route-meetingid="@Model.Id">
        <i class="fa-solid fa-person-walking"></i>
        View participants list
    </a>
</div>

@section Scripts {
    <script src="~/js/event/detail.js"></script>
}
