@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

header,
footer {
    display: none;
}

*, *::before, *::after {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg,#7E9680,#AE6378) ; */
    background-color: #B8D9D0;
}
input{
    font-family: "Poppins", sans-serif;
}
.input-field input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:3px ;
    transition: all 0.3s ease;
}
.input-field input:focus{
    border-color: #9e6b55;
}
.container-cp{
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    background-color: #fff;
}
.container-cp header{
    font-size: 32px;
    font-weight: 600;
    color: #333;
}
.container-cp form{
    margin-top: 30px;
}
form .field{
    margin-bottom: 20px;
}

form .input-field{
    position: relative;
    height: 55px;
    width: 100%;
}
.input-field input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
}
.invalid input{
    border-color:#d93025 ;
}
.field .error{
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size:13px ;
    display: none;
}
.invalid .error{
    display: flex;
}
.error img{
    margin-right: 6px;
    width: 18px;
}
.create-password .error{
    align-items: flex-start;
}
.button{
    margin: 25px 0 6px ;
}
.button input{
    color: #fff;
    font-size:16px ;
    font-weight: 400;
    background-color: #538C51;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: #c1cd97;
}

.back-region {
    margin: 25px 0 6px;
}
.back-region .back-link {
    display: flex;
    justify-content: center;
}