@model MembershipRequest

@{
    ViewData["Title"] = "Request for membership";
}

@section Styles {
    @{
        <link rel="stylesheet" href="~/css/login/request.css" />
    }
}

<div class="container">
    <!-- ?edit here -->
    <div class="request_heading">
        <img src="~/img/login/logo1.png" alt="">  <!-- ?add logo -->
        <div class="title">Request for membership</div>
    </div>

    <form asp-action="Create" onsubmit="return validateAll()">
        <!-- nhap thong tin ngươi dung -->
        <div class="user-details">
            <div class="input-box email-field">
                <span class="details">Email</span>
                <input asp-for="Email" placeholder="Enter your email..." required class="email">
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid email</p>
                </span>
            </div>
            <div class="input-box fullname-field">
                <span class="details">Fullname</span>
                <input asp-for="Name" placeholder="Enter your fullname..." required class="fullname">
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid fullname</p>
                </span>
            </div>
            <div class="input-box address-field">
                <span class="details">Address</span>
                <input asp-for="Address" placeholder="Enter your address..." required class="address">
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid address</p>
                </span>
            </div>
            <div class="input-box phonenumber-field">
                <span class="details">Phone number</span>
                <input asp-for="PhoneNumber" placeholder="Enter your phone number..." required class="phonenumber">
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid phone number</p>
                </span>
            </div>
        </div>
        <!-- button -->
        <div class="button">
            <input type="submit" value="SEND">
        </div>
    </form>
    <div class="back-region">
        <a asp-action="Index" asp-controller="Login" class="back-link">Back</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/login/request.js"></script>
    }
}
