@model MembershipRequest

@{
    ViewData["Title"] = "Request for membership";
}

@section Styles {
    @{
        <link rel="stylesheet" href="~/css/login/request.css" />
    }
}

<div class="container">
    <!-- ?edit here -->
    <div class="request_heading">
        <img src="~/img/login/logo1.png" alt="">  <!-- ?add logo -->
        <div class="title">Request for membership</div>
    </div>

    <form action="">
        <!-- nhap thong tin ngươi dung -->
        <div class="user-details ">
            <div class="input-box email-field">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your email..." required class="email">
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid email</p>
                </span>
            </div>

            <div class="input-box fullname-field">
                <span class="details">Fullname</span>
                <input type="text" placeholder="Enter your fullname..." required class="fullname">
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid fullname</p>
                </span>
            </div>
            <div class="input-box address-field">
                <span class="details">Address</span>
                <input type="text" placeholder="Enter your address..." required class="address">
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid address</p>
                </span>
            </div>
            <div class="input-box phonenumber-field">
                <span class="details">Phone number</span>
                <input type="text" placeholder="Enter your phone number..." required class="phonenumber">
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid phone number</p>
                </span>
            </div>
        </div>
        <!-- button -->
        <div class="button">
            <input type="submit" value="SEND">
        </div>
    </form>
    <!-- *add popup here -->
    <div class="popup" id="popup">
        <div class="popup-logo">
            <img src="~/img/resetpass/success_icon.svg" alt="">
        </div>
        <h2>THANK YOU</h2>
        <p>Your information is sent successfully</p>
        <button onclick="closeSlide()">OK</button>
    </div>
</div>







@* <h1>Create</h1>

<h4>MembershipRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/login/request.js"></script>
    }
}
