@model PaymentResponseModel

@{
    ViewData["Title"] = "PaymentConfirmed";
}

<h1>Payment Confirmed</h1>

<div>
    <h4>Please check your email for your account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Login">Login</a>
</div>
