@{
    ViewData["Title"] = "RequestRecorded";
}

<h1>Your request has been recorded</h1>
<h4>Please wait while our staff handle the request. You will receive an email upon request approval.</h4>
<a asp-action="Index" asp-controller="Home">Home</a>