.blog-section {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.blog-comment-container {
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.blog-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.blog-thumbnail-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    overflow: hidden;
}

.blog-thumbnail {
    width: 100%;
    height: auto;
}

.blog-body {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.blog-info-container,
.blog-title,
.blog-content {
    width: 80%;
    margin-top: 2rem;
}

.blog-content {
    margin-bottom: 2rem;
}

    .blog-content * {
        max-width: 100%;
    }

.blog-info-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.blog-author-info-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.blog-author-ava-container {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 0.1rem solid #000;
    overflow: hidden;
}

.blog-author-ava {
    width: 100%;
    height: auto;
}

.blog-author-name {
    margin-left: 1rem;
}

.blog-title {
    font-size: 2rem;
}

.blog-content {
    font-size: 1rem;
}

.blog-utils-container {
    width: 20%;
}

.create-blog-button,
.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #4F77FF;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #fff;
}

.search-blogs-container,
.latest-blogs-container {
    width: 100%;
    margin-top: 2rem;
    background-color: #F8FAFC;
    padding: 1rem;
}

.search-box-container {
    margin-top: 1rem;
}

.search-box {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #888682;
    box-sizing: border-box;
}

.latest-blog {
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #000;
}

.latest-blog-thumbnail-container {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
}

.latest-blog-thumbnail {
    height: 100%;
    width: auto;
}

.latest-blog-title {
    margin-left: 1rem;
    flex: 1;
}

.latest-blog {
    box-shadow: 0.1rem 0.1rem 0.2rem #0007003a;
    transition: all 0.2s ease-in;
}

.latest-blog:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

hr {
    width: 100%;
}

.comments-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #000;
}

.comments-container > *:last-child {
    margin-bottom: 2rem;
}

.comments-container-title,
.comment-container {
    width: 80%;
    margin-top: 2rem;
}

.comment-body {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment-author-ava-container {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 5rem;
    border: 0.1rem solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-author-ava {
    width: auto;
    height: 100%;
}

.comment-content-container {
    margin-left: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.comment-info-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.comment-date {
    color: #7B88A8;
}

.comment-content {
    width: 100%;
    margin-top: 1rem;
    color: #7B88A8;
}

.create-comment-container {
    margin-top: 2rem;
    width: 80%;
}

.create-comment-title {
    margin-top: 1rem;
}

.create-comment-form {
    margin-top: 1rem;
}

.create-comment-box,
.edit-comment-box {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border: 0.1rem solid #E7E5EA;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.2s ease-in;
    resize: none;
}

.create-comment-box:hover,
.edit-comment-box:hover,
.create-comment-box:focus,
.edit-comment-box:focus {
    border: 0.1rem solid #000;
}

.create-comment-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #4F77FF;
    box-sizing: border-box;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.update-comment-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.edit-button,
.delete-button,
.accept-button,
.cancel-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
}

.edit-button,
.accept-button {
    background-color: #4F77FF;
}

.delete-button,
.cancel-button {
    margin-left: 1rem;
    background-color: #ff0000;
}

.edit-comment-container {
    display: none;
    flex: 1;
    margin-left: 1rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.edit-control-container {
    width: 100%;
}

.edit-control-container {
    margin-top: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.delete-comment-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000077;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.delete-comment-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.delete-comment-control {
    margin-top: 2rem;
}

.back-button.big-view {
    width: auto;
    align-self: flex-start;
}

.back-button.small-view {
    margin-bottom: 2rem;
    display: none;
}

@media screen and (max-width: 1200px) {
    .blog-section {
        flex-flow: column-reverse nowrap;
    }

    .blog-comment-container,
    .blog-utils-container {
        width: 100%;
    }

    .blog-comment-container {
        margin-top: 2rem;
    }

    .create-blog-button {
        width: fit-content;
    }

    .back-button.big-view {
        display: none;
    }

    .back-button.small-view {
        width: fit-content;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .comment-body {
        flex-flow: column nowrap;
    }

    .comment-body > * {
        margin: 0;
    }

    .comment-content-container {
        width: 100%;
    }

    .comment-author-ava-container {
        width: 3rem;
        height: 3rem;
    }

    .comment-info-container {
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .edit-comment-container {
        width: 100%;
        margin-top: 1rem;
    }
}
