@{
    ViewData["Title"] = "Account Management";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/accountManagement/account.css" />
}

<section class="table-header">
        <h1>Accounts List</h1>
    </section>
    <div class="sticky-table">
        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="user">
                            <img src="https://source.unsplash.com/random" alt="">
                            <span>Vantcii</span>
                        </div>
                    <td>
                        <a href="">Details</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="user">
                            <img src="https://source.unsplash.com/random" alt="">
                            <span>Vantcii</span>
                        </div>
                    <td>
                        <a href="">Details</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="user">
                            <img src="https://source.unsplash.com/random" alt="">
                            <span>Vantcii</span>
                        </div>
                    <td>
                        <a href="">Details</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="user">
                            <img src="https://source.unsplash.com/random" alt="">
                            <span>Vantcii</span>
                        </div>
                    <td>
                        <a href="">Details</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="user">
                            <img src="https://source.unsplash.com/random" alt="">
                            <span>Vantcii</span>
                        </div>
                    <td>
                        <a href="">Details</a>
                    </td>
                </tr>
                <!-- row 2 -->
                
            </tbody>
        </table>
    </div>