@model FieldTripDTO

@section Styles
{
    <link rel="stylesheet" href="~/css/event/detail.css" />
}

@{
    ViewData["Title"] = "Details";
}

<div class="event-detail-header-links">
    <a class="button back-button" asp-controller="ClubEvents" asp-action="Index">
        <i class="fa-solid fa-backward"></i>
        Club events
    </a>
    <div class="dropdown-event-actions">
        <button class="button dropdown-button" onclick="showDropdown()">
            <i class="fa-solid fa-bars"></i>
            Options
        </button>
        <div id="dropdown-content" class="dropdown-content">
            <a class="button dropdown-content-button" asp-controller="FieldTripRegistrations" asp-action="Index" asp-route-fieldtripid="@Model.Id">
                <i class="fa-solid fa-person-walking"></i>
                View participants list
            </a>
            <a class="button dropdown-content-button" asp-action="Edit" asp-route-id="@Model.Id">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
            </a>
            <a class="button dropdown-content-button" onclick="initStatus()">
                <i class="fa-solid fa-pen-to-square"></i>
                Update status
            </a>
            @if (Model.Status == EventStatuses.Ended)
            {
                <a class="button dropdown-content-button" asp-action="EditHighlights" asp-route-id="@Model.Id">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Edit highlights
                </a>
            }
            <a class="button dropdown-content-button" onclick="initDelete()">
                <i class="fa-solid fa-trash"></i>
                Delete
            </a>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/ClubEvents/_EventDetail.cshtml", Model)

@section Scripts {
    <script src="~/js/event/detail.js"></script>
}
