@model FieldTripDTO

@{
    ViewData["Title"] = "Edit highlights";
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Highlights for @Model.Name</h2>
        <form asp-action="EditHighlights" class="form">
            <input type="hidden" asp-for="Id" />

            <div class="input-box highlights-field">
                <textarea id="field-trip-highlights" name="Highlights">
                    @Html.Raw(Model.Highlights)
                </textarea>
            </div>

            <input class="button" type="submit" value="Save" />
        </form>
        <div class="back-region">
            <a asp-action="Details" asp-route-id="@Model.Id" class="back-link">Back</a>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Summernote", new { Height = 500, Selector = "#field-trip-highlights" });
    }
}