@{
    ViewData["Title"] = "Contact Us";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home/contact.css" />
}

<!-- contact method and email -->
<div class="method-container">
    <h1>
        Get in touch and let us know
        how we can help
    </h1>
    <h5>If you are here looking for assistance, please select the category that best fits your concern</h5>
    <div class="method-list">
        <!-- card 1 -->
        <a href="mailto:vnbclubinfo@gmail.com">
            <div class="method-card">
                <img src="~/img/contact/mail-icon.svg" alt="">
                <div class="method-title">For Information</div>
                <div class="method-content">vnbclubinfo@gmail.com</div>
            </div>
        </a>
        <!-- card 2 -->
        <a href="mailto:vnbclubmember@gmail.com">
            <div class="method-card">
                <img src="~/img/contact/mail-icon.svg" alt="">
                <div class="method-title">For membership</div>
                <div class="method-content">vnbclubmember@gmail.com</div>
            </div>
        </a>
        <!-- card 3 -->
        <a href="mailto:vnbclubmedia@gmail.com">
            <div class="method-card">
                <img src="~/img/contact/mail-icon.svg" alt="">
                <div class="method-title">For Media & Press</div>
                <div class="method-content">vnbclubmedia@gmail.com</div>
            </div>
        </a>
    </div>
</div>
<!-- contact form and location -->
<div class="contact">
    <h2>You can also find us on your map</h2>
    <section>
        <!-- contact container -->
        <div class="contact-container">
            <!-- Map location -->
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62694.93354315016!2d106.71196462676866!3d10.854607710381185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d85e042bf04b%3A0xbb26baec1664394d!2zVGjhu6cgxJDhu6ljLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1688815287608!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</div>