@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home/index.css" />
}

<!-- contact method and email -->
<div class="method-container">
    <h1>
        VNCMBC Management App
    </h1>

    @*admin list here*@
    @if (Context.Session.GetString("USER_ROLE") == "Admin")
    {
        <div class="method-list">
            <!-- card 1 -->
            <a asp-controller="UserManagement" asp-action="Index">
                <div class="method-card">
                    <img src="~/img/icon_svg/profile.svg" alt="">
                    <div class="method-title">Manage users</div>
                </div>
            </a>
            <!-- card 2 -->
            <a asp-controller="Dashboard" asp-action="Index">
                <div class="method-card">
                    <img src="~/img/dashboard/dashboard-icon.svg" alt="">
                    <div class="method-title">Dashboard</div>
                </div>
            </a>
        </div>
        <h5>Administrative actions</h5>
    }

    <div class="method-list">
        <!-- card 1 -->
        <a asp-controller="MembershipRequests" asp-action="Index">
            <div class="method-card">
                <img src="~/img/icon_svg/profile.svg" alt="">
                <div class="method-title">Manage membership requests</div>
            </div>
        </a>
        <!-- card 2 -->
        <a asp-controller="Blogs" asp-action="Index">
            <div class="method-card">
                <img src="~/img/icon_svg/blogs.svg" alt="">
                <div class="method-title">Manage blogs</div>
            </div>
        </a>
        <!-- card 3 -->
        <a asp-controller="ClubEvents" asp-action="Index">
            <div class="method-card">
                <img src="~/img/icon_svg/bird_profile.svg" alt="">
                <div class="method-title">Manage events</div>
            </div>
        </a>
    </div>

    <div class="method-list">
        <!-- card 1 -->
        <a asp-controller="Feedbacks" asp-action="Index">
            <div class="method-card">
                <img src="~/img/icon_svg/blogs.svg" alt="">
                <div class="method-title">View feedbacks</div>
            </div>
        </a>
        <!-- card 2 -->
        <a asp-controller="Notifications" asp-action="Index">
            <div class="method-card">
                <img src="~/img/contact/mail-icon.svg" alt="">
                <div class="method-title">Send a notification email</div>
            </div>
        </a>
    </div>
    <h5>Club management</h5>
</div>
