@model IFormCollection

@{
    ViewData["Title"] = "ChangePassword";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/password/changepass.css" />
}

@* add form nhap pass và confirm pass *@
<div class="container-cp">
    <h2>Change your password</h2>
    <form asp-action="ChangePassword" onsubmit="return validateAll()">
        <div class="field invalid">
            <span class="error invalid">
                <img src="./img/resetpass/alert-circle.svg" alt="">
                <div asp-validation-summary="All" class="error-text invalid"></div>
            </span>
        </div>
        
        <!-- old password -->
        <div class="field old-password">
            <p>Old password</p>
            <div class="input-field ">
                <input type="password" placeholder="Enter your old password..." class="oPassword" name="OldPassword">
            </div>
            <span class="error password-error">
                <img src="./img/resetpass/alert-circle.svg" alt="">
                <p class="error-text">Password is incorrect</p>
            </span>
        </div>
        <!-- new password -->
        <div class="field create-password">
            <p>New password</p>
            <div class="input-field ">
                <input type="password" placeholder="Enter your new password..." class="password" name="NewPassword">
            </div>
            <span class="error password-error">
                <img src="./img/resetpass/alert-circle.svg" alt="">
                <p class="error-text">
                    Password must contain at least 8 characters, including a lowercase letter, an uppercase letter, and a digit.
                </p>
            </span>
        </div>
        <!-- confirm new password -->
        <div class="field confirm-password">
            <p>Confirm new password</p>
            <div class="input-field ">
                <input type="password" placeholder="Confirm new password..." class="cPassword" name="ConfirmPassword">
            </div>
            <span class="error cPassword-error">
                <img src="./img/resetpass/alert-circle.svg" alt="">
                <p class="error-text">Password does not match</p>
            </span>
        </div>
        <div class="input-field button">
            <input type="submit" value="Confirm">
        </div>
    </form>
    <div class="back-region">
        <a asp-action="Index" class="back-link">Back</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/password/changepass-cf.js"></script>
    }
}