@model BirdClubInfoHub.Models.PaymentResponseModel

@{
    ViewData["Title"] = "PaymentConfirmed";
}

<h1>PaymentConfirmed</h1>

<div>
    <h4>Payment Confirmed</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">View registered field trips</a>
</div>
