@model Notification

@{
    ViewData["Title"] = "Notification";
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
    <link rel="stylesheet" href="~/css/notification/index.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Send a notification email</h2>
        <form asp-action="SendNotification" class="form" onsubmit="return checkContents()">

            <div class="input-box role-field">
                <label>Send to</label>
            </div>

            @foreach (KeyValuePair<string, bool> pair in Model.IsRoleSelected)
            {
                <input asp-for="IsRoleSelected[pair.Key]" type="checkbox" />
                @UserRoles.Convert(pair.Key)
                <br />
            }

            <div class="input-box recipients-field">
                <label>Custom recipients</label>
                <div class="select-box">
                    <select asp-for="Recipients" asp-items="ViewBag.CustomOptions"></select>
                </div>
            </div>

            <div class="input-box contents-field">
                <label>Contents</label>
                <textarea asp-for="Contents" placeholder="Enter notification contents" rows="10" required class="contents"></textarea>
                <!-- add error message here -->
                <span class="error contents-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Contents cannot be empty</p>
                </span>
            </div>

            <input class="button" type="submit" value="Send" />
        </form>
    </section>
</div>

@section Scripts {
    <script src="~/js/notification/index.js"></script>
}