.pay-button {
    background-color: #4F77FF;
    color: #fff;
}

.delete-button {
    background-color: #f00;
    color: #fff
}

.cancel-button {
    background-color: #0000;
    color: #4F77FF
}

.delete-reg-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000077;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.delete-reg-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.delete-reg-control {
    margin-top: 2rem;
    width: 100%;
}

.delete-reg-control .button {
    width: 100%;
}