@{
    ViewData["Title"] = "About Us";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/about/about.css" />
}


    <h1 class="about-title">More and more about our club</h1>
    <!-- Our story -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="~/img/about/ab1.png" alt="">
        </div>
        <div class="about-text">
            <h2>OUR STORY</h2>
            <p>You know, in each of us will have our own passions for ourselves. And so are we, we have a great passion for birds, especially crested birds. We treat them like friends or even family members. It is also our simple joy and happiness every day after stressful working hours.</p>
            <br>
            <p>Each bird brings its own distinct melodies, harmonies, rhythms. Those tunes will touch us. From there, our club was born, bringing together birdwatchers, creating a community of people with the same passion. The club is not only a place for these birds to show their talents, but it also becomes a symbol of solidarity and close friendship between club members.</p>
            <a href="./request.html" class="about-btn">Join us</a>
        </div>
    </section>

    <!-- Our field trip -->
    <section class="about" id="about">
        <div class="about-text">
            <h2>OUR COMMUNITY</h2>
            <p>The BBC hosts spring and fall migration early morning bird walks and organizes year-round trips for members within Ho Chi Minh. Da Nang, Ha Noi, Can Tho as well as to more distant birding hot spots in the region.  We also present a regular lecture series featuring visiting bird authorities covering topics as varied as birding skills, warbler identification, bird song, nature photography, and conservation and environmental concerns.  Club members often give presentations of their photography or the fascinating birding and wildlife expeditions they have taken. The BBC is also active in conservation issues in our borough and beyond, and works hard to maintain natural habitat in our urban environment.</p>
            <br>
            <p>Here, you can participate in many activities with the members of the club. From then on, we will all become more connected and close</p>
        </div>
        <div class="about-img">
            <img src="~/img/about/ab2.png" alt="">
        </div>
    </section>

    <!-- Our bird knowledge -->
    <section class="about">
        <div class="about-img">
            <img src="~/img/about/ab3.png" alt="">
        </div>
        <div class="about-text">
            <h2>ABOUT BIRD KNOWLEDGE</h2>
            <p>You know, in each of us will have our own passions for ourselves. And so are we, we have a great passion for birds, especially crested birds. We treat them like friends or even family members. It is also our simple joy and happiness every day after stressful working hours.</p>
            <br>
            <p>Each bird brings its own distinct melodies, harmonies, rhythms. Those tunes will touch us. From there, our club was born, bringing together birdwatchers, creating a community of people with the same passion. The club is not only a place for these birds to show their talents, but it also becomes a symbol of solidarity and close friendship between club members.</p>
        </div>
    </section>



