@model BlogDTO

@{
    ViewData["Title"] = "Edit";
}

@section Styles
{
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/blog/create.css" />
}

<section class="create-blog-container">
    <a class="create-blog-back-button" asp-action="Index">
        <i class="fa-solid fa-backward"></i>
        Back
    </a>

    <form class="create-blog-form" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />

        <h2>Edit blog</h2>

        <div class="input-container">
            <label class="input-label" for="blog-category">Category</label>
            <select id="blog-category" class="input" asp-for="BlogCategory.Id" asp-items="ViewBag.CategoryOptions">
                <option value="7" hidden>Choose a category</option>
            </select>
            <span asp-validation-for="BlogCategory.Id" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label class="input-label" for="blog-title">Title</label>
            <input id="blog-title" class="input" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="input-container">
            <label for="blog-contents" class="input-label blog-content-label">Contents</label>
            <textarea id="blog-contents" name="Contents">
                @Html.Raw(Model.Contents)
            </textarea>
        </div>

        <div class="input-container">
            <p class="input-label">Thumbnail</p>
            <div class="blog-thumbnail-container">
                <label for="blog-thumbnail" class="input-label thumbnail-submit-button">Choose a thumbnail</label>
                <input id="blog-thumbnail" class="input" type="file" name="thumbnailFile" accept="image/*" onchange="loadFile(event)" />
            </div>
            <img id="preview-thumbnail" src="@Url.Action("GetImageFromBytes", "Blogs", new { id = Model.Id })" />
        </div>

        <input class="create-blog-create-button" type="submit" value="Save" />
    </form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_Summernote", new { Height = 500, Selector = "#blog-contents" });
    }
    <script src="~/js/blog-history/edit.js"></script>
}
