@model TournamentStandingDTO

@{
    ViewData["Title"] = "Details";
}


@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Ranking information</h2>
        <form class="form">

            <div class="column">

                <div class="input-box bird-field">
                    <label>Bird</label>
                    <div class="select-box">
                        <select asp-for="Bird.Id" asp-items="ViewBag.BirdOptions" disabled>
                            <option value="" hidden>Choose a bird</option>
                        </select>
                    </div>
                </div>

                <div class="input-box placement-field">
                    <label>Placement</label>
                    <div class="select-box">
                        <select asp-for="Placement" disabled>
                            <option value="" hidden>Choose a ranking</option>
                            <option value="1ST">First Place</option>
                            <option value="2ND">Second Place</option>
                            <option value="3RD">Third Place</option>
                            <option value="PAR">Participation</option>
                        </select>
                    </div>
                </div>

            </div>

            <button class="button" asp-action="Edit" asp-route-id="@Model.Id">Edit</button>
        </form>
        <div class="back-region">
            <a asp-action="Index" asp-route-tournamentid="@Model.Tournament.Id" class="back-link">Back</a>
        </div>
    </section>
</div>
