@model TournamentStanding

@{
    ViewData["Title"] = "Edit";
}


@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Edit ranking information</h2>
        <form asp-action="Edit" class="form">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TournamentId" />

            <div class="column">

                <div class="input-box bird-field">
                    <label>Bird</label>
                    <div class="select-box">
                        <select asp-for="BirdId" asp-items="ViewBag.BirdOptions">
                            <option value="" hidden>Choose a bird</option>
                        </select>
                    </div>
                </div>

                <div class="input-box placement-field">
                    <label>Placement</label>
                    <div class="select-box">
                        <select asp-for="Placement">
                            <option value="" hidden>Choose a ranking</option>
                            <option value="1st">First place</option>
                            <option value="2nd">Second place</option>
                            <option value="3rd">Third place</option>
                            <option value="Participation">Participation</option>
                        </select>
                    </div>
                </div>

            </div>

            <input class="button" type="submit" value="Save" />
        </form>
        <div class="back-region">
            <a asp-action="Index" asp-route-tournamentid="@Model.TournamentId" class="back-link">Back</a>
        </div>
    </section>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}