@model User

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Create new user</h2>
        <form asp-action="Create" class="form" onsubmit="return validateAll()">

            <div class="input-box email-field">
                <label>Email</label>
                <input asp-for="Email" placeholder="Enter email address" required class="email" />
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid email address.</p>
                </span>
            </div>

            <div class="input-box password-field">
                <label>Password</label>
                <input asp-for="Password" placeholder="Enter password" required class="password" type="password" />
                <!-- add error message here -->
                <span class="error password-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">
                        Password must contain at least 8 characters, including a lowercase letter, an uppercase letter and a digit.
                    </p>
                </span>
            </div>

            <div class="input-box fullname-field">
                <label>Fullname</label>
                <input asp-for="Name" placeholder="Enter fullname" required class="fullname" />
                <!-- add error message here -->
                <span class="error fullname-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Fullname cannot be empty.</p>
                </span>
            </div>

            <div class="input-box address-field">
                <label>Address</label>
                <input asp-for="Address" placeholder="Enter address" required class="address" />
                <!-- add error message here -->
                <span class="error address-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Address cannot be empty.</p>
                </span>
            </div>

            <div class="column">

                <div class="input-box phonenumber-field">
                    <label>Phone number</label>
                    <input asp-for="Phone" placeholder="Enter phone number" required class="phonenumber" type="number" />
                    <!-- add error message here -->
                    <span class="error phonenumber-error">
                        <img src="~/img/resetpass/alert-circle.svg" alt="">
                        <p class="error-text">Please enter a valid phone number.</p>
                    </span>
                </div>

                <div class="input-box role-field">
                    <label>Role</label>
                    <div class="select-box">
                        <select asp-for="Role" class="form-control">
                            <option value="" hidden>Choose a role</option>
                            <option value="ADM">Admin</option>
                            <option value="STF">Staff</option>
                            <option value="MEM">Member</option>
                        </select>
                    </div>
                </div>
            </div>

            <input class="button" type="submit" value="Create" />
        </form>
        <div class="back-region">
            <a asp-action="Index" class="back-link">Back</a>
        </div>
    </section>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/user-management/create.js"></script>
}
