@model string

@{
    ViewData["Title"] = "New password";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/password/changepass.css" />
}

@* add form nhap pass và confirm pass *@
<div class="container-cp">
        <header>Change your password</header>
        <form action="">
            <!-- old password -->
            <div class="field old-password">
                <div class="input-field ">
                    <input type="password" placeholder="Enter your old password..." class="oPassword"> 
                </div>
                <span class="error password-error">
                    <img src="./img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Password is incorrect</p>
                </span>
            </div>

            <div class="field create-password">
                <div class="input-field ">
                    <input type="password" placeholder="Enter your new password..." class="password"> 
                </div>
                <span class="error password-error">
                    <img src="./img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Password must be at least 8 characters with number, symbol, small and capital letter</p>
                </span>
            </div>
            <!-- confirm new password -->
            <div class="field confirm-password">
                <div class="input-field ">
                    <input type="password" placeholder="Confirm new password..." class="cPassword">
                </div>
                <span class="error cPassword-error">
                    <img src="./img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Password doesn't match</p>
                </span>
            </div>
            <div class="input-field button">
                <input type="submit" name="" id="" value="Confirm">
            </div>
        </form>
    </div>




@* <h1>Enter new password</h1>

<form method="post" asp-action="NewPassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="userEmail" value="@Model" />
    <div class="form-group">
        <label class="control-label">New password</label>
        <input type="password" name="newPassword" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Confirm new password</label>
        <input type="password" name="confirmPassword" value="" class="form-control" />
    </div>
    <input type="submit" value="Reset password" class="btn btn-primary" />
</form> *@
@section Scripts {
    @{
        <script src="~/js/password/changepass-cf.js"></script>
    }
}