@model string

@{
    ViewData["Title"] = "Verification";
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Reset your password</h2>
        <form class="form email-form" asp-action="ResetPassword" onsubmit="return checkEmail()">

            <div class="input-box email-field">
                <label>Email</label>
                <input type="text" placeholder="Enter your email..." class="email" name="userEmail" />
                <!-- add error message here -->
                <span class="error mail-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Please enter a valid email address.</p>
                </span>
            </div>
            <p style="margin-top: 1rem">We will send a verification code to your email</p>
            <input class="button" type="submit" value="Confirm" />
        </form>
        <div class="back-region">
            <a asp-action="Index" class="back-link">Back</a>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/js/login/reset-password.js"></script>
}