@model string

@{
    ViewData["Title"] = "Verification";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/password/changepass.css" />
}

@* Add form input email when change pass *@
<div class="container-cp">
    <div>
        <h2>Reset your password</h2>
    </div>
    <form asp-action="ResetPassword" onsubmit="return checkEmail()">
        <div class="field email-field">
            <div class="input-field ">
                <input type="text" placeholder="Enter your email..." class="email" name="userEmail">
            </div>
            <span class="error email-error">
                <img src="~/img/resetpass/alert-circle.svg" alt="">
                <p class="error-text">Please enter a valid email</p>
            </span>
        </div>
        <div>
            <p>We will send a verification code to your email</p>
        </div>
        <div class="input-field button">
            <input type="submit" value="Confirm">
        </div>
    </form>
</div>



@* <h1>Reset password</h1>

<form method="post" asp-action="ResetPassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input type="text" name="userEmail" value="" class="form-control" />
    </div>
    <input type="submit" value="Reset password" class="btn btn-primary" />
</form> *@

@* link js *@
@section Scripts {
    @{
        <script src="~/js/password/changepass-vf.js"></script>
    }
}