@model IEnumerable<BirdClubManagementSystem.Models.Blog>

@section Styles
{
    <link rel="stylesheet" href="~/css/blogs/blogs.css" />
}

<section class="blogs-container">
    <article class="blog-container">
        <div class="blog-img-container">
            <img class="blog-img" src="~/img/blogs/bird1.jpg" alt="bird" />
        </div>
        <h2 class="blog-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="blog-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <div class="blog-author-container">
            <div class="blog-author-detail-container">
                <div class="blog-author-img-container">
                    <img class="blog-author-img" src="~/img/blogs/ava.svg" alt="author" />
                </div>
                <div class="blog-author-name-status-container">
                    <p class="blog-author-name">John Doe</p>
                    <div class="blog-author-status-container">
                        <div class="blog-author-status-img-container">
                            <img class="blog-author-status-img" src="~/img/blogs/status.svg" alt="status" />
                        </div>
                        <p class="blog-author-role">Member</p>
                    </div>
                </div>
            </div>
            <p class="blog-publish-date">17/06/2023</p>
        </div>
    </article>

    <article class="blog-container">
        <div class="blog-img-container">
            <img class="blog-img" src="~/img/blogs/bird2.jpg" alt="bird" />
        </div>
        <h2 class="blog-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="blog-author-container">
            <div class="blog-author-detail-container">
                <div class="blog-author-img-container">
                    <img class="blog-author-img" src="~/img/blogs/ava.svg" alt="author" />
                </div>
                <div class="blog-author-name-status-container">
                    <p class="blog-author-name">John Doe</p>
                    <div class="blog-author-status-container">
                        <div class="blog-author-status-img-container">
                            <img class="blog-author-status-img" src="~/img/blogs/status.svg" alt="status" />
                        </div>
                        <p class="blog-author-role">Member</p>
                    </div>
                </div>
            </div>
            <p class="blog-publish-date">17/06/2023</p>
        </div>
    </article>

    <article class="blog-container">
        <div class="blog-img-container">
            <img class="blog-img" src="~/img/blogs/bird3.jpg" alt="bird" />
        </div>
        <h2 class="blog-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="blog-author-container">
            <div class="blog-author-detail-container">
                <div class="blog-author-img-container">
                    <img class="blog-author-img" src="~/img/blogs/ava.svg" alt="author" />
                </div>
                <div class="blog-author-name-status-container">
                    <p class="blog-author-name">John Doe</p>
                    <div class="blog-author-status-container">
                        <div class="blog-author-status-img-container">
                            <img class="blog-author-status-img" src="~/img/blogs/status.svg" alt="status" />
                        </div>
                        <p class="blog-author-role">Member</p>
                    </div>
                </div>
            </div>
            <p class="blog-publish-date">17/06/2023</p>
        </div>
    </article>

    <article class="blog-container">
        <div class="blog-img-container">
            <img class="blog-img" src="~/img/blogs/bird4.jpg" alt="bird" />
        </div>
        <h2 class="blog-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="blog-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <div class="blog-author-container">
            <div class="blog-author-detail-container">
                <div class="blog-author-img-container">
                    <img class="blog-author-img" src="~/img/blogs/ava.svg" alt="author" />
                </div>
                <div class="blog-author-name-status-container">
                    <p class="blog-author-name">John Doe</p>
                    <div class="blog-author-status-container">
                        <div class="blog-author-status-img-container">
                            <img class="blog-author-status-img" src="~/img/blogs/status.svg" alt="status" />
                        </div>
                        <p class="blog-author-role">Member</p>
                    </div>
                </div>
            </div>
            <p class="blog-publish-date">17/06/2023</p>
        </div>
    </article>

    <article class="blog-container">
        <div class="blog-img-container">
            <img class="blog-img" src="~/img/blogs/bird5.jpg" alt="bird" />
        </div>
        <h2 class="blog-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="blog-author-container">
            <div class="blog-author-detail-container">
                <div class="blog-author-img-container">
                    <img class="blog-author-img" src="~/img/blogs/ava.svg" alt="author" />
                </div>
                <div class="blog-author-name-status-container">
                    <p class="blog-author-name">John Doe</p>
                    <div class="blog-author-status-container">
                        <div class="blog-author-status-img-container">
                            <img class="blog-author-status-img" src="~/img/blogs/status.svg" alt="status" />
                        </div>
                        <p class="blog-author-role">Member</p>
                    </div>
                </div>
            </div>
            <p class="blog-publish-date">17/06/2023</p>
        </div>
    </article>

    <article class="blog-container">
        <div class="blog-img-container">
            <img class="blog-img" src="~/img/blogs/bird6.jpg" alt="bird" />
        </div>
        <h2 class="blog-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="blog-author-container">
            <div class="blog-author-detail-container">
                <div class="blog-author-img-container">
                    <img class="blog-author-img" src="~/img/blogs/ava.svg" alt="author" />
                </div>
                <div class="blog-author-name-status-container">
                    <p class="blog-author-name">John Doe</p>
                    <div class="blog-author-status-container">
                        <div class="blog-author-status-img-container">
                            <img class="blog-author-status-img" src="~/img/blogs/status.svg" alt="status" />
                        </div>
                        <p class="blog-author-role">Member</p>
                    </div>
                </div>
            </div>
            <p class="blog-publish-date">17/06/2023</p>
        </div>
    </article>

    <article class="blog-container">
        <div class="blog-img-container">
            <img class="blog-img" src="~/img/blogs/bird7.jpg" alt="bird" />
        </div>
        <h2 class="blog-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="blog-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <div class="blog-author-container">
            <div class="blog-author-detail-container">
                <div class="blog-author-img-container">
                    <img class="blog-author-img" src="~/img/blogs/ava.svg" alt="author" />
                </div>
                <div class="blog-author-name-status-container">
                    <p class="blog-author-name">John Doe</p>
                    <div class="blog-author-status-container">
                        <div class="blog-author-status-img-container">
                            <img class="blog-author-status-img" src="~/img/blogs/status.svg" alt="status" />
                        </div>
                        <p class="blog-author-role">Member</p>
                    </div>
                </div>
            </div>
            <p class="blog-publish-date">17/06/2023</p>
        </div>
    </article>

    <article class="blog-container">
        <div class="blog-img-container">
            <img class="blog-img" src="~/img/blogs/bird1.jpg" alt="bird" />
        </div>
        <h2 class="blog-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="blog-author-container">
            <div class="blog-author-detail-container">
                <div class="blog-author-img-container">
                    <img class="blog-author-img" src="~/img/blogs/ava.svg" alt="author" />
                </div>
                <div class="blog-author-name-status-container">
                    <p class="blog-author-name">John Doe</p>
                    <div class="blog-author-status-container">
                        <div class="blog-author-status-img-container">
                            <img class="blog-author-status-img" src="~/img/blogs/status.svg" alt="status" />
                        </div>
                        <p class="blog-author-role">Member</p>
                    </div>
                </div>
            </div>
            <p class="blog-publish-date">17/06/2023</p>
        </div>
    </article>

    <article class="blog-container">
        <div class="blog-img-container">
            <img class="blog-img" src="~/img/blogs/bird2.jpg" alt="bird" />
        </div>
        <h2 class="blog-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="blog-author-container">
            <div class="blog-author-detail-container">
                <div class="blog-author-img-container">
                    <img class="blog-author-img" src="~/img/blogs/ava.svg" alt="author" />
                </div>
                <div class="blog-author-name-status-container">
                    <p class="blog-author-name">John Doe</p>
                    <div class="blog-author-status-container">
                        <div class="blog-author-status-img-container">
                            <img class="blog-author-status-img" src="~/img/blogs/status.svg" alt="status" />
                        </div>
                        <p class="blog-author-role">Member</p>
                    </div>
                </div>
            </div>
            <p class="blog-publish-date">17/06/2023</p>
        </div>
    </article>
</section>