@model string

@{
    ViewData["Title"] = "New password";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/password/changepass.css" />
}

@* add form nhap pass và confirm pass *@
<div class="container-cp">
    <h2>Change your password</h2>
    <form asp-action="NewPassword" onsubmit="return validateNew()">
        <input type="hidden" name="userEmail" value="@Model" />
        
        <!-- new password -->
        <div class="field create-password">
            <p>New password</p>
            <div class="input-field ">
                <input type="password" placeholder="Enter your new password..." class="password" name="NewPassword">
            </div>
            <span class="error password-error">
                <img src="./img/resetpass/alert-circle.svg" alt="">
                <p class="error-text">
                    Password must contain at least 8 characters, including a lowercase letter, an uppercase letter and a digit.
                </p>
            </span>
        </div>
        <!-- confirm new password -->
        <div class="field confirm-password">
            <p>Confirm new password</p>
            <div class="input-field ">
                <input type="password" placeholder="Confirm new password..." class="cPassword" name="ConfirmPassword">
            </div>
            <span class="error cPassword-error">
                <img src="./img/resetpass/alert-circle.svg" alt="">
                <p class="error-text">Password does not match</p>
            </span>
        </div>
        <div class="input-field button">
            <input type="submit" value="Confirm">
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/password/changepass-cf.js"></script>
    }
}