@model string

@{
    ViewData["Title"] = "New password";
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
    <link rel="stylesheet" href="~/css/hide-header-footer.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Change your password</h2>
        <form class="form password-form" asp-action="NewPassword" onsubmit="return validateNew()">

            <input type="hidden" name="userEmail" value="@Model" />

            <div class="input-box new-password-field">
                <label>New password</label>
                <input type="password" placeholder="Enter your new password..." class="new-password" name="NewPassword" />
                <!-- add error message here -->
                <span class="error new-password-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">
                        Password must contain at least 8 characters, including a lowercase letter, an uppercase letter and a digit.
                    </p>
                </span>
            </div>

            <div class="input-box confirm-password-field">
                <label>Confirm new password</label>
                <input type="password" placeholder="Confirm new password..." class="confirm-password" name="ConfirmPassword" />
                <!-- add error message here -->
                <span class="error confirm-password-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Password does not match</p>
                </span>
            </div>

            <input class="button" type="submit" value="Confirm" />
        </form>
    </section>
</div>

@section Scripts {
    <script src="~/js/login/new-password.js"></script>
}