@model string

@{
    ViewData["Title"] = "Verification";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/password/changepass.css" />
}

@* Add form input email when change pass *@
<div class="container-cp">
    <div>
        <h2>Reset your password</h2>
    </div>
    <form asp-action="ResetPassword" onsubmit="return checkEmail()">
        <div class="field email-field">
            <p>Email</p>
            <div class="input-field ">
                <input type="text" placeholder="Enter your email..." class="email" name="userEmail">
            </div>
            <span class="error email-error">
                <img src="~/img/resetpass/alert-circle.svg" alt="">
                <p class="error-text">Please enter a valid email</p>
            </span>
        </div>
        <div>
            <p>We will send a verification code to your email</p>
        </div>
        <div class="input-field button">
            <input type="submit" value="Confirm">
        </div>
    </form>
    <div class="back-region">
        <a asp-action="Index" class="back-link">Back</a>
    </div>
</div>


@section Scripts {
    @{
        <script src="~/js/password/changepass-vf.js"></script>
    }
}