@model string

@{
    ViewData["Title"] = "Verify code";
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
    <link rel="stylesheet" href="~/css/hide-header-footer.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Enter verification code</h2>
        <form class="form" asp-action="VerifyCode">
            <input type="hidden" name="userEmail" value="@Model" />
            <div class="input-box code-field">
                <label>Verification code</label>
                <input type="text" placeholder="Enter verification code..." class="code" name="code" />
            </div>
            <input class="button" type="submit" value="Confirm" />
        </form>
    </section>
</div>