@model IClubEvent

@section Styles
{
    <link rel="stylesheet" href="~/css/event/detail.css" />
}

@{
    ViewData["Title"] = "Details";
}

@await Html.PartialAsync("~/Views/ClubEvents/_EventDetail.cshtml", Model)

<div>
    <a class="button participants-list-button" asp-action="Index" asp-controller="TournamentRegistrations" asp-route-tournamentid="@Model.Id">
        <i class="fa-solid fa-dove"></i>
        View participants list
    </a>
    @if (Model.Status == "Ended")
    {
        <a class="button rankings-button" asp-action="Index" asp-controller="TournamentStandings" asp-route-tournamentid="@Model.Id">
            <i class="fa-solid fa-trophy"></i>
            View rankings
        </a>
    }
</div>

@section Scripts {
    <script src="~/js/event/detail.js"></script>
}
