@model Tournament

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Edit tournament</h2>
        <form asp-action="Edit" class="form" onsubmit="return validateAll()">
            
            <div class="input-box name-field">
                <label>Name</label>
                <input asp-for="Name" placeholder="Enter tournament name" required class="name" />
                <!-- add error message here -->
                <span class="error name-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Tournament name cannot be empty.</p>
                </span>
            </div>

            <div class="input-box date-field">
                <label>Date and time of tournament</label>
                <input asp-for="Date" placeholder="Enter date and time" required class="date" />
                <span class="error date-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Event cannot take place before registration is closed!</p>
                </span>
            </div>

            <div class="input-box description-field">
                <label>Description</label>
                <textarea id="tournament-description" name="Description">
                    @Html.Raw(Model.Description)
                </textarea>
            </div>

            <div class="column">

                <div class="input-box reg-date-field">
                    <label>Registration close date</label>
                    <input asp-for="RegistrationCloseDate" placeholder="Enter close date" required class="reg-date" />
                </div>

                <div class="input-box fee-field">
                    <label>Entrance fee</label>
                    <input asp-for="Fee" placeholder="Enter entrance fee" required class="fee" />
                    <!-- add error message here -->
                    <span class="error fee-error">
                        <img src="~/img/resetpass/alert-circle.svg" alt="">
                        <p class="error-text">Fee cannot be empty.</p>
                    </span>
                </div>

            </div>

            <input class="button" type="submit" value="Save" />
        </form>
        <div class="back-region">
            <a asp-action="Index" asp-controller="ClubEvents" class="back-link">Back</a>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Summernote", new { Height = 500, Selector = "#tournament-description" });
    }
    <script src="~/js/event/create-edit.js"></script>
}
