body {
    background-color: #F7F5F1;
}

.event-section {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.event-body {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 1rem #0007003a;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.event-description *:not(img) {
    width: 100% !important;
}

.event-body > *:nth-child(n + 2) {
    margin-top: 2rem;
}

.button {
    margin: 0.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
}

.button:hover {
    opacity: 0.6;
}

.back-button,
.register-button,
.login-button {
    background-color: #4F77FF;
    color: #fff;
}

.disabled-button {
    background-color: #4F77FF;
    color: #fff;
    opacity: 0.6;
}

.register-no-pay-button {
    background-color: #0000;
    color: #4F77FF;
}

.cancel-button {
    background-color: #f00;
    color: #fff;
}

.event-title,
.event-date,
.event-entrance-container,
.event-description-container {
    width: 100%;
}

.event-title {
    text-align: center;
}

.event-date {
    text-align: right;
}

.event-description-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.event-description {
    margin-top: 1rem;
    width: 100%;
}

.event-description > * {
    max-width: 100% !important;
}

.event-entrance-container {
    /*display: flex;*/
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.register-event-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000077;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.register-event-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.register-event-control {
    margin-top: 2rem;
    width: 100%;
}

.register-event-control .button {
    width: 100%;
}

.bird-select {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.bird-select select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.event-registration-date {
    align-self: flex-start;
}

@media screen and (max-width: 1200px) {
    .event-section {
        width: 100%;
    }
    .event-body {
        width: 100%;
    }
}

/* Edit for highlight */
.highlight{
    box-shadow: 0 .4rem .8rem rgb(26, 26, 27);
    border-radius: .8rem;
    background-color: #b8d9d0;
}
.highlight h1{
    text-align: center;
    color: #2e8364;
    padding-top: 10px;
    letter-spacing: 1px;
}

.highlight-container {
    padding: 2%;
}

.highlight-container > * {
    max-width: 100%;
}

/* Edit for bird standing */
.ranking-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background:#F7F5F1;
}
.tab-content{
    margin-top: 40px;
}
.table{
    width: 82vw;
    height: 80vh;
    background-color: #b8d9d0 !important;
    backdrop-filter:blur(7px) ;
    box-shadow: 0 .4rem .8rem rgb(26, 26, 27);
    border-radius: .8rem;
    overflow: hidden;
}

.ranking-header{
    width: 100%;
    height: 10%;
    background-color:#3c7363 ;
    padding: .4rem 1rem;
    color: #fff;
    font-size: 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* edit for search */
.ranking-header .input-group{
    width: 25%;
    height: 80%;
    background-color: #fff5;
    padding: .8rem;
    border-radius: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items:center ;
    transition: .2s;
}
.ranking-header .input-group img{
    width: 24px !important;
    height: 24px !important;
}

.ranking-header .input-group input{
    width: 100%;
    padding: 0 .5rem 0 .5rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}
.ranking-header .input-group:hover{
    width: 35%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}
/* End edit for search */

/* Edit for select box */
.select-menu{
    min-width: 10em !important;
    position: relative !important;
    margin: 2rem;
    z-index:10 ;
}
.select-menu * {
    box-sizing: border-box;

}
.select{
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5rem;
    padding: .5em;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 20px;
}
.select-clicked{
    border: 2px #f2e9e9 solid;
    box-shadow: 0 0 0.8em #f2e9e9;

}
.select:hover{
    background: #323741;
}
.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 2em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 12;
}
.menu li{
    padding: 0.5em 0.5em;
    margin: 0.1em 0;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 20px;
}
.menu li:hover{
    background: #2a2d35;
}
.active {
    background: #23242a;
}
.menu-open{
    display: block;
    opacity: 1;
}



.ranking-body{
    width: 95%;
    max-height: calc(89% - 1.2rem);
    background-color: #fff6 ;

    margin: 1.2rem auto;
    margin-bottom: 1.2rem;
    border-radius: .6rem;

    overflow: auto; 
}

.ranking-body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.ranking-body::-webkit-scrollbar-thumb{
    border-radius:.5rem ;
    background-color: #0004;
    visibility: hidden;
}
.ranking-body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.ranking-body table{
    width: 100%;
}
.ranking-body table, .ranking-body th, .ranking-body td{
    border-collapse:collapse ;
    padding: 1rem;
}
.ranking-body thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #619196;
    color: #f4dcd6;
    font-size: 22px;

}
.ranking-body tbody tr:nth-child(even){
    background-color: #0000000b;
}
.ranking-body tbody tr:hover{
    background-color: #fff6;
}
.ranking-body tbody td{
    text-align: center;
    top: 0;
    left: 0;
    margin-left: 1rem;
}

/* responsive */
@media screen and (max-width:900px){
    .ranking-body td:not(:first-of-type){
        min-width: 8.1rem;
    }
    .ranking-header{
        padding: 1rem 1rem;
    }
    .ranking-body thead th{
        font-size: 28px;
    }
    .ranking-body tbody td{
        font-size: 20px;
    }
}
@media screen and (max-width:767px){
    .ranking-body td:not(:first-of-type){
        min-width: 8.1rem;
    }
    .ranking-header{
        font-size: 20px;
        padding:.9rem 1rem ;
    }
    .ranking-body thead th{
        font-size: 28px;
    }
    .highlight h1{
        font-size: 28px;
    }
}

/* edit css for js */
.tab-content-item {
    width: 82vw;
    display: none;
}
.tab-content-item.active {
    display: block !important;
}
.navtab button:hover{
    background-color: #dcdedc;
}
.navtab-btn.active {
    background-color: #59c541 !important;
    color: #fff !important;
}
.navtab{
    display: flex !important;
    justify-content: center;
    background-color: #F7F5F1;
}
.navtab button{
    padding: 10px;
    width: 100px;
    margin:30px 20px 0 20px;
    border-radius: 6px;
    border:1px solid rgb(164, 164, 164);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: .4s;
    color: #38404d;
}
