.event-section {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.event-body {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.2rem #0007003a;
    padding: 1rem;
}

.event-body > *:nth-child(n + 2) {
    margin-top: 2rem;
}

.button {
    margin: 0.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
}

.button:hover {
    opacity: 0.6;
}

.back-button,
.register-button,
.login-button {
    background-color: #4F77FF;
    color: #fff;
}

.disabled-button {
    background-color: #4F77FF;
    color: #fff;
    opacity: 0.6;
}

.register-no-pay-button {
    background-color: #0000;
    color: #4F77FF;
}

.cancel-button {
    background-color: #f00;
    color: #fff;
}

.event-title,
.event-date,
.event-entrance-container,
.event-description-container {
    width: 100%;
}

.event-title {
    text-align: center;
}

.event-date {
    text-align: right;
}

.event-description-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.event-description {
    margin-top: 1rem;
    width: 100%;
}

.event-entrance-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.register-event-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000077;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.register-event-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.register-event-control {
    margin-top: 2rem;
    width: 100%;
}

.register-event-control .button {
    width: 100%;
}

.bird-select {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.bird-select select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}