<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BirdClubManagementSystem</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)

    <script src="~/js/site.js" defer asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo-container">
                <div class="logo-img-container">
                    <img src="~/img/nav/club_logo.svg" alt="logo" />
                </div>
                <h1 class="club-title">VNCMBC</h1>
            </div>

            <div class="nav-bar-container">
                <a asp-controller="Home" asp-action="Index" class="nav-link active" >HOME</a>
                <a href="" class="nav-link">SERVICES</a>
                <a asp-controller="Home" asp-action="About" class="nav-link">ABOUT</a>
                <a asp-controller="Blogs" asp-action="Index" class="nav-link">BLOGS</a>
                <a asp-controller="ClubEvents" asp-action="Index" class="nav-link">EVENTS</a>
                <a asp-controller="Home" asp-action="Contact" class="nav-link">CONTACT</a>
            </div>

            <div class="nav-user-utils-container">
                <a class="search-img-container">
                    <img src="~/img/nav/search.svg" alt="search icon" />
                </a>
                <a class="sign-in-link">SIGN UP</a>
                <a class="ava-container">
                    <img src="~/img/nav/ava.png" alt="avatar" />
                </a>
            </div>

            <div class="nav-toggle">
                <p>V</p>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="footer-body">
            <div class="footer-logo-container">
                <div class="footer-logo-img-container">
                    <img src="~/img/footer/logo.svg" alt="logo" />
                </div>
                <h1>VNCMBC</h1>
            </div>

            <div class="footer-link-container">
                <h2>Club</h2>
                <div class="footer-link-box">
                    <button class="footer-link">ABOUT</button>
                    <button class="footer-link">EVENTS</button>
                    <button class="footer-link">BLOGS</button>
                    <button class="footer-link">PRICING</button>
                </div>
            </div>

            <div class="footer-link-container">
                <h2>Services</h2>
                <div class="footer-link-box">
                    <button class="footer-link">COMMUNITY</button>
                    <button class="footer-link">WEBSITES</button>
                    <button class="footer-link">TOURNAMENTS</button>
                    <button class="footer-link">STRATEGY</button>
                    <button class="footer-link">PLATFORMS</button>
                </div>
            </div>

            <div class="footer-link-container">
                <h2>Contact</h2>
                <div class="footer-link-box">
                    <button class="footer-link">HELP DESK</button>
                    <button class="footer-link">DOCS</button>
                    <button class="footer-link">OPEN A TICKET</button>
                    <button class="footer-link">CHAT</button>
                    <button class="footer-link">FORUM</button>
                </div>
            </div>

            <div class="footer-feedback-container">
                <h2>Feedbacks</h2>
                <p>Give us your feedback about our club. Thanks for your visiting today.</p>
                <form class="feedback-container">
                    <input type="text" placeholder="Enter your feedback" required />
                    <input type="submit" value="SUBMIT" />
                </form>
                <p>Your feedbacks will help us develop our club and extend community for everyone.</p>
            </div>
        </div>

        <div class="footer-line"></div>

        <div class="footer-tail">
            <p>&copy; 2023 Vietnam Bird Club. All Rights Reserved. Terms &amp; Conditions. Privacy Policy.</p>
            <div class="footer-social-link">
                <button>
                    <img src="~/img/footer/fb.png" alt="facebook link" />
                </button>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
